@keyframes slideInFromCenter {
    0% {
      transform: translateY(100vh);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-form {
    animation: slideInFromCenter 1s ease-out;
  }
  